<!DOCTYPE html>
<html>

<head>
  <!--dependencies start -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <link href="dist/ez-dropdown.min.css" rel="stylesheet"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
  <!--dependencies end -->

  <script src="src/ez-dropdown.js"></script>

  <script>
    angular.module('myApp', ['ez.dropdown'])

    .controller('AppCtrl', ['$scope', function AppCtrl($scope) {

      $scope.items = [
        {
          name: 'First Item',
          links: ['1A', '1B']
        }, {
          name: 'Second Item',
          links: ['2A', '2B']
        }, {
          name: 'Third Item',
          links: ['3A', '3B']
        }
      ];

      $scope.toggled = function(open) {
        $scope.msgs.push('call on-toggle => ' + open);
      };

      $scope.msgs = [];
      $scope.log = function(msg) {
        $scope.msgs.push(msg);
      };

      $scope.dropdownEnabled = true;

    }])
;

  </script>
</head>
<body ng-app="myApp">
  <div ng-controller="AppCtrl" class="container">
    <div class="page-header">
      <h1>ez-dropdown</h1>
    </div>
    <div class="page-body">
      <span class="dropdown" on-toggle="toggled">
        <a class="dropdown-toggle">
          Dropdown that closes on click inside!
        </a>
        <ul class="dropdown-menu">
          <li><a ng-click="log('hey dude')">Hey dude</a></li>
          <li><a ng-click="log('hey dudette')">Hey dudette</a></li>
        </ul>
      </span>
      <hr>
      <span class="dropdown" click-inside="true">
        <a class="dropdown-toggle">
          Dropdown that stays open on click inside with pointer!??
        </a>
        <ul class="dropdown-menu dropdown-pointer pull-right">
          <li><a ng-click="log('hey dude')">Hey dude</a></li>
          <li><a ng-click="log('hey dudette')">Hey dudette</a></li>
        </ul>
      </span>

      <hr>

      <div class="dropdown" click-inside="true" style="width: 400px;">
        <div>
          <label class="control-label">Input Toggle</label>
          <input type="text" class="form-control dropdown-toggle"/>
        </div>
        <ul class="dropdown-menu dropdown-pointer pull-right">
          <li><a ng-click="log('hey dude')">Hey dude</a></li>
          <li><a ng-click="log('hey dudette')">Hey dudette</a></li>
        </ul>
      </div>

      <hr>

      <p>Inside ng-repeat</p>

      <ul ng-repeat="item in items">
        <li class="dropdown">
          <a class="dropdown-toggle">
            {{ item.name }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="link in item.links"><a ng-click="log(link)">{{ link }}</a></li>
          </ul>
        </li>
      </ul>

      <hr>

      <div class="dropdown" click-inside="true">
        <a class="dropdown-toggle">Dropdown with custom close</a>

        <div class="dropdown-menu" style="padding: 10px;">
          <input type="text" class="form-control"/>
          <hr>
          <a ng-click="toggleMenu()" class="btn btn-primary">Save</a>
        </div>
      </div>

      <hr>

      <a class="btn btn-primary" ng-click="openDropdown = !openDropdown">Open a dropdown with a random button</a>
      <input type="checkbox" ng-model="dropdownEnabled"> Enabled
      <div class="dropdown" open="openDropdown && dropdownEnabled">
        <ul class="dropdown-menu">
          <li><a ng-click="log('hey dude')">Hey dude</a></li>
          <li><a ng-click="log('hey dudette')">Hey dudette</a></li>
        </ul>
      </div>

      <hr>

      <ul ng-repeat="msg in msgs track by $index">
        <li>{{ msg }}</li>
      </ul>


    </div>
  </div>
</body>

</html>

